vendor/
composer.phar

config.local.php
.env
docker/evolution-api/.env

storage/cv/*
!storage/cv/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/docker-config/
storage/*.png

.DS_Store
*.log
*.sql.gz
*.zip
